<p>Add meeting</p>

<table>
  <tr>
    <td>
      Subject
    </td>
    <td>
      <input type="text" [(ngModel)]="meeting.Subject"/>
    </td>
  </tr>
  <tr>
    <td>
      Attendees
    </td>
    <td>
      <ejs-MultiSelect [dataSource]='attendeesGlobal'></ejs-MultiSelect>
    </td>
  </tr>
  <tr>
    <td>
      Meeting Agenda
    </td>
    <td>
      <textarea [(ngModel)]="meeting.MeetingAgenda"></textarea>>
    </td>
  </tr>
  <tr>
    <td>
      Date And Time
    </td>
    <td>
        <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [(ngModel)]="meeting.MeetingDateTime">
        <owl-date-time #dt></owl-date-time>
    </td>
  </tr>
</table>
