<p>Add meeting</p>

<table>
  <tr>
    <td>
      Subject
    </td>
    <td>
      <input type="text" [(ngModel)]="meeting.subject"/>
    </td>
  </tr>
  <tr>
    <td>
      Attendees
    </td>
    <td>
      <ng-multiselect-dropdown 
        [singleSelection]="true" 
        [placeholder]="'Select Attendees'"
        [data]="attendeesGlobal"
        [idField]="id",
        [textField]="name"
        [allowSearchFilter]="true"
        [(ngModel)]="meeting.attendees"
      ></ng-multiselect-dropdown>
    </td>
  </tr>
  <tr>
    <td>
      Meeting Agenda
    </td>
    <td>
      <textarea [(ngModel)]="meeting.meetingAgenda"></textarea>>
    </td>
  </tr>
  <tr>
    <td>
      Date And Time
    </td>
    <td>
      <ngb-datepicker #dp [(ngModel)]="meeting.meetingDateTime" ></ngb-datepicker>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <input type="button" value="Save" (click)="SaveClick($event)"/>
    </td>
  </tr>
</table>
